<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <li class="<%= active_page(studio_switch1_path) %>"><%= link_to 'Switch 1', studio_switch1_path %></li>
    <li class="<%= active_page(studio_switch2_path) %>"><%= link_to 'Switch 2', studio_switch2_path %></li>
    <li class="<%= active_page(studio_extensions_path) %>"><%= link_to 'Extensions', studio_extensions_path %></li>
    <li class="<%= active_page(studio_payloads_path) %>"><%= link_to 'Payloads', studio_payloads_path %></li>
    <li class="<%= active_page(studio_loot_path) %>"><%= link_to 'Loot', studio_loot_path %></li>
    <li class="<%= active_page(studio_debug_path) %>"><%= link_to 'Debug', studio_debug_path %></li>
    <li class="<%= active_page(studio_git_path) %>"><%= link_to 'Git', studio_git_path %></li>
    <li class="<%= active_page(studio_learn_path) %>"><%= link_to 'Learn', studio_learn_path %></li>

    <% if bunny_mounted? %>
        <li class="success"><a href="#" onclick="eject_bunny()"><%= fa_icon "eject" %> : <%= bunny_path %></a></li>
    <% else %>
        <li class="alert"><a href="#" onclick="location.reload();"><%= fa_icon "refresh" %> : Bash Bunny Not Found</a>
    <% end %>
  </ul>
</aside>