<aside class="right-off-canvas-menu">
  <ul class="off-canvas-list">
    <% if bunny_mounted? %>
        <li class="bunny-status mounted"><a href="#" onclick="eject_bunny()"><%= fa_icon "eject" %> : <%= bunny_path %></a></li>
    <% else %>
        <li class="bunny-status unmounted"><a href="#" onclick="location.reload();"><%= fa_icon "refresh" %> : Bash Bunny Not Found</a>
    <% end %>
    <% page_title = 'Switch 1' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_switch1_path %></li>
    <% page_title = 'Switch 2' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_switch2_path %></li>
    <% page_title = 'Extensions' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_extensions_path %></li>
    <% page_title = 'Payloads' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_payloads_path %></li>
    <% page_title = 'Loot' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_loot_path %></li>
    <% page_title = 'Debug' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_debug_path %></li>
    <% page_title = 'Git' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_git_path %></li>
    <% page_title = 'Configure' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_configure_path %></li>
    <% page_title = 'Firmware' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_firmware_path %></li>
    <% page_title = 'Console' %>
    <li class="<%= active_page(page_title) %>"><%= link_to page_title, studio_console_path %></li>
  </ul>
</aside>