<% switch_position = local_assigns[:switch_position].to_s %>
<div class="switch-file-browser">
  <h4>Files</h4>
  <% if bunny_mounted? %>
      <ul id="file-list" class="vertical menu">
        <% path = "/payloads/switch#{switch_position}" %>
        <% Dir.foreach("#{bunny_path}#{path}") do |switch_file| %>
            <% next if switch_file == '.' || switch_file == '..' %>
            <li><a class="switch-<%= switch_position %> edit-file-link" onclick="updatePayloadEditor('<%= path %>', '<%= switch_file %>', <%= switch_position %>)"><%= switch_file %></a></li>
        <% end %>
      </ul>
  <% end %>
</div>