<!DOCTYPE html>
<html>
<head>
  <title>Bash Bunny Studio</title>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1 user-scalable=no">
  <%= stylesheet_link_tag 'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>

<body>
<div class="off-canvas-wrap" data-offcanvas>
  <div class="inner-wrap">

    <%= render 'shared/navigation' %>

    <%= render 'shared/mobile_navigation' %>

    <div class="alert-box text-center"><%= @page_title %></div>
    <section class="main-section">
      <div class="row">
        <div class="medium-12 columns">
          <%= yield %>
        </div>
      </div>
    </section>
    <a class="exit-off-canvas"></a>
    <div id="alert-dialog" class="small reveal-modal" data-reveal aria-hidden="true" role="dialog">
      <div id="alert-dialog-content"></div>
    </div>
  </div>
</div>
</body>
</html>
